.NavBar {
  display: flex;
  justify-content: center;
  margin: 0 40 40px;
  background-color: grey;
  padding: 5px;
  
}

.NavBar-link {
  margin: 0 10px;
  padding: 40px;
  
}

.NavBar-welcome {
  color: blue;

}