.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7vmin auto;
  background: #292E49;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #292E49);  
  background: linear-gradient(to right, #292E49, #292E49); 
}
  
.App-header {
  align-items: center;
  justify-content: space-between;
  padding: 0vmin;
  font-size: 2vmin;
  font-size: 15px;
  text-align: center;
  width: 100%;
}

.App main {
  background-color: var(--background);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
}

.App main h1 {
  color: var(--secondary-dark);
  margin-bottom: 5vmin;
}
main{
  color: rgb(68, 66, 64);
  border-image-repeat: 4px;
  font-size: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-footer {
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
}

.panel-body-a{
  text-align: center;
}
.form-group-a{
  background-color: #edefeb;
  color-adjust: cream;
  width: 700px;
}
.form-group-b{
  background-color: #edefeb;
  color-adjust: cream;
  width: 700px;  
  text-align: center;
  font-style: italic;
  margin-top: 40px;
}
.form-group-c{
  background-color:  #edefeb;;
}
.panel-body{
  border: 2px solid silver;
  border-radius: 5px;
  border-radius: 50px;
  width: 650px;
  text-align: center;
  color: lightslategrey;
  border-image-repeat: 4px;
}

.col {
  /* flex-grow: 1; */
  margin-top: 40px;
  text-align: center;
  background-color:#F9F9F9;
  font-style: italic;
}

